/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background:  url("../img/background1.png"),
     no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#midlayer {
    margin-left: 50px;
}
#midlayer img {
    height: 792px;
    width: 1190px;
}
#person1 {
    top: 90px;
    left: 520px;
}
#person1 img{
    height: 226px;
    width: 151px;
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, transform 2s;
}
#person1 img:hover {
    height: 326px;
    width: 251px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
#robot {
    top: 75px;
    left: 210px;
    transform-origin: top;
    transform: rotate(-20deg);
}
#robot img{
    width: 222px;
    height: 174px;
    -webkit-transition:width 5s, height 5s, -webkit-transform 5s;
    transition:width 5s, height 5s, transform 5s;
}
#robot img:hover {
    width: 322px;
    height: 274px;
   transform: skewY(30deg);
}
#robot2 {
    top: 470px;
    left: 1100px;
}
#robot2 img{
    -webkit-transition: -webkit-transform 3s;
    transition: transform 3s;
}
#robot3 {
    top: 120px;
    left: 660px;
}
#robot3 img {
    height: 40%;
    width: 40%;
    opacity: 1;
    z-index: 10;
    -webkit-transition: opacity 3s, height 3s, width 3s;
    transition: opacity 3s, height 3s, width 3s;
}
#robot3 img:hover {
    z-index: 11;
    height: 20%;
    width: 20%;
    opacity: 0;
}
#rocket1 {
    top: 700px;
    left: 1100px;
    opacity: 1;
    -webkit-transition: left 3s, top 4s, opacity 5s;
    transition: left 3s, top 4s, opacity 5s;
}
.rocket1Active {
    left: 1500px;
    top: 500px;
    opacity: 0;
}
.rockethover {
    left: 1500px;
    top: 500px;
    opacity: 0;
}
#rocket1 img {
    height: 71px;
    width: 157px;
}

.images {
    position: absolute;
    z-index: 3;
}
.imagesTop {
    position: absolute;
    z-index: 5;
}
.imagesTop:hover {
    cursor:url(http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur), progress !important;
}
#ufo1 {
    top: 650px;
    left: 1100px;
    opacity: 1;
}
#ufo1 img {
    height: 170px;
    width: 260px;
}
#ufo1 img:checked {
  -webkit-animation: rocketLaunch 4s 1 1.3s ease-in-out forwards;

}
#ufo2 {
    top: 50px;
    left: 50px;
}
#ufo3{
    top: 20px;
    left: 1000px;
}
#ufo3 img {
    height: 200px;
    width: 342px;
}
#rocket3 {
    top: 500px;
    left: 150px;
}
#rocket3 img{
    height: 300px;
    width: 513px;
    }

#planetgrp1 img {
    height: 300px;
    width: 400px;
    left: 80px;
    top: 150px;
}
#planetgrp2 img {
    height: 300px;
    width: 400px;
    top: 500px;
    left: 100px;
}
#planetgrp3 img {
    height: 240px;
    width: 320px;
    top: -50px;
    left: 1100px;
}
#planetgrp4 img {
    height: 412px;
    width: 582px;
    top: 200px;
    left: 400px;
}
#shipgrp1 img {
    height: 300px;
    width: 400px;
    top: 450px;
    left: 600px;
}
#shipgrp2 img {
    height: 512px;
    width: 640px;
    top: 0px;
    left: 800px;
}
#ufogrp1 img {
    height:240px;
    width:320px;
    top: 300px;
    left: 300px;
}
#satellite img {
    height: 240px;
    width: 320px;
    top: 250px;
    left: 900px; 
}
#planet1 img {
    height:300px;
    width: 400px;
    top: 500px;
    left: 1000px;
}
.shakeimage {
position:relative
}
/* photoshop this bitch
    bottom layer is deleted = background
    non interactives on layer that is transparent
    interactives get put in as divs later
    top layer is mid interactives that don't interact
 */
@-webkit-keyframes rocketLaunch {
    20%,
    40% { right: 20%; }
    60% { right: 45%; }
    80% { right: 60%; }
    90% { right: 70%; }
    100% { right: 80%; }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
